<section class="container">
    <ul>
      <li class="panel" appListHover color="salmon">
        <div>
          <p>List Item 1</p>
        </div>
      </li>
      <li class="panel" appListHover color="salmon">
        <div>
          <p>List Item 2</p>
        </div>
      </li>
      <li class="panel" appListHover color="salmon">
        <div>
          <p>List Item 3</p>
        </div>
      </li>
      <li class="panel" appListHover color="salmon">
        <div>
          <p>List Item 4</p>
        </div>
      </li>
      <li class="panel" appListHover color="salmon">
        <div>
          <p>List Item 5</p>
        </div>
      </li>
      <li class="panel" appListHover color="salmon">
        <div>
          <p>List Item 6</p>
        </div>
      </li>
      <li class="panel" appListHover color="salmon">
        <div>
          <p>List Item 7</p>
        </div>
      </li>
      <li class="panel" appListHover color="salmon">
        <div>
          <p>List Item 8</p>
        </div>
      </li>
      <li class="panel" appListHover color="salmon">
        <div>
          <p>List Item 9</p>
        </div>
      </li>
      <li class="panel" appListHover color="salmon">
        <div>
          <p>List Item 10</p>
        </div>
      </li>
    </ul>
</section>