<section class="container-fluid">
  <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate> -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <fieldset>
          <legend>Login</legend>

          <!-- [ngClass]='{ "error": this.errors.username.error }' -->
          <div class="form-group" >
            <label class="form-label" for="username">Username: </label>
            <input class="form-control" type="email" name="username" id="username" autocomplete="off" formControlName="username">
          </div>

          <!-- [ngClass]='{ "error": this.errors.password.error }' -->
          <div class="form-group" >
            <label class="form-label" for="password">Password: </label>
            <input class="form-control" type="password" name="password" id="password" autocomplete="off" formControlName="password">
          </div>

          <!-- <a [routerLink]="['/home']" 
             [queryParams]= "{'success': true}" 
             [fragment]="'success'" class="btn btn-primary">Log In</a> -->
          <button class="btn btn-primary">Log In</button>
      </fieldset>
  </form>
</section>