<Section class="container">
  <header>
    <h3>About Us</h3>
    <h6>Created by : Santosh Varma Kosuri J</h6>
  </header>
  <div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro commodi facere officiis cumque consectetur. Nihil error iste doloremque, laboriosam praesentium, necessitatibus corporis dolore in repudiandae ad, minus veritatis consequatur obcaecati.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro commodi facere officiis cumque consectetur. Nihil error iste doloremque, laboriosam praesentium, necessitatibus corporis dolore in repudiandae ad, minus veritatis consequatur obcaecati.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro commodi facere officiis cumque consectetur. Nihil error iste doloremque, laboriosam praesentium, necessitatibus corporis dolore in repudiandae ad, minus veritatis consequatur obcaecati.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro commodi facere officiis cumque consectetur. Nihil error iste doloremque, laboriosam praesentium, necessitatibus corporis dolore in repudiandae ad, minus veritatis consequatur obcaecati.</p>
  </div>
</Section>